__pycache__/
.DS_Store
.venv/*
.vscode/
.wdm/
*.mkv
/.vs
bin/mkbrr/*
data/*.json
data/banned/*.*
data/config.json
data/config.py
data/config*
data/cookies/*.pickle
data/cookies/*.pkl
data/cookies/*.txt
data/nfos/*
data/tags.json
data/templates/description/
tmp/*
user-args.json
venv/*
