{% if custom_description_header %}
{{ custom_description_header }}

{% endif %}

{% if add_logo and logo and logo_size %}
[center][img]{{ logo }}[/img][/center]

{% endif %}

{% if mediainfo_or_bdinfo %}

{{ mediainfo_or_bdinfo }}
{% endif %}

{% if description_file_content or description_template_content or description_link_content %}
{% if description_file_content %}{{ description_file_content }}
{% elif description_template_content %}{{ description_template_content }}
{% elif description_link_content %}{{ description_link_content }}
{% endif %}

{% endif %}

{% if ua_name %}

[center][url=https://github.com/Audionut/Upload-Assistant]Upload realizado via {{ ua_name }}{% if current_version %} {{ current_version }}{% endif %}[/url][/center]
{% endif %}