{% if user_config.custom_description_header %}
{{ user_config.custom_description_header }}

{% endif %}

{% if user_config.add_logo and tmdb_logo %}
[center][img]https://image.tmdb.org/t/p/w300{{ tmdb_logo }}[/img][/center]

{% endif %}

{% if description_file_content or description_template_content or description_link_content %}
{% if description_file_content %}{{ description_file_content }}
{% elif description_template_content %}{{ description_template_content }}
{% elif description_link_content %}{{ description_link_content }}
{% endif %}
{% endif %}

{% if user_config.episode_overview and additional_data.name and additional_data.overview %}
[align=center][b]{{ additional_data.name }}[/b]

{% if additional_data.still_path %}[img]https://image.tmdb.org/t/p/w300{{ additional_data.still_path }}[/img]{% endif %}

{{ additional_data.overview }}[/align]
{% endif %}

{% if ua_name %}

[center][url=https://github.com/Audionut/Upload-Assistant]Upload realizado via {{ ua_name }}{% if current_version %} {{ current_version }}{% endif %}[/url][/center]
{% endif %}