{% if user_config.custom_description_header %}
{{ user_config.custom_description_header }}

{% endif %}
{% if user_config.add_logo and tmdb_logo %}
[center][img]https://image.tmdb.org/t/p/w300{{ tmdb_logo }}[/img][/center]

{% endif %}
{% if discs and discs[0].summary %}
[pre]{{ discs[0].summary }}[/pre]
{% endif %}
{% if mediainfo_text %}
[pre]{{ mediainfo_text }}[/pre]
{% endif %}

{% if description_file_content or description_template_content or description_link_content %}

{% if description_file_content %}{{ description_file_content }}
{% elif description_template_content %}{{ description_template_content }}
{% elif description_link_content %}{{ description_link_content }}
{% endif %}{% endif %}

{% if user_config.screenshot_header %}
{{ user_config.screenshot_header }}

{% endif %}

{% if image_list %}
[center]
{% for image in image_list %}<a href="{{ image.web_url }}" target="_blank"><img src="{{ image.img_url }}" width="220"></a> {% endfor %}
[/center]
{% endif %}

{% if ua_name %}
[center][url=https://github.com/Audionut/Upload-Assistant]Created by {{ ua_name }}{% if current_version %} {{ current_version }}{% endif %}[/url][/center]
{% endif %}