{% if user_config.custom_description_header %}
{{ user_config.custom_description_header }}

{% endif %}
{% if user_config.add_logo and logo and user_config.logo_size %}
[center][img]{{ logo }}[/img][/center]

{% endif %}
{% if user_config.episode_overview and tvmaze_episode_data %}
{% if tvmaze_episode_data.episode_name %}
[b]Episode:[/b] {{ tvmaze_episode_data.episode_name }}{% endif %}
{% if overview_meta %}
[b]Overview:[/b] {{ overview_meta }}
{% endif %}
{% endif %}
{% if discs and discs[0].summary %}
[pre]{{ discs[0].summary }}[/pre]
{% endif %}
{% if mediainfo_text %}
[pre]{{ mediainfo_text }}[/pre]
{% endif %}

{% if description_nfo_content %}

[pre]{{ description_nfo_content }}[/pre]
{% endif %}
{% if description_file_content or description_template_content or description_link_content %}

{% if description_file_content %}{{ description_file_content }}
{% elif description_template_content %}{{ description_template_content }}
{% elif description_link_content %}{{ description_link_content }}
{% endif %}{% endif %}

{% if user_config.screenshot_header %}
{{ user_config.screenshot_header }}

{% endif %}

{% if image_list %}
[center]
{% for image in image_list %}[url={{ image.web_url }}][img]{{ image.img_url }}[/img][/url] {% if loop.index % 2 == 0 %}
{% endif %}{% endfor %}
[/center]
{% endif %}

{% if ua_name %}
[center][url=https://github.com/Audionut/Upload-Assistant]Created by {{ ua_name }}{% if current_version %} {{ current_version }}{% endif %}[/url][/center]
{% endif %}